.DraftEditor-root {
  border: 1px solid #f1f1f1;
  border-radius: 7px;
  padding: 20px;
}

.rdw-image-modal {
  left: -223px;
}

.rdw-embedded-modal {
  left: -140px;
}

.rdw-emoji-modal {
  left: -186px;
}
